<!DOCTYPE html>
<html>
   <head>
      <title>Merchant Page</title>
      <meta name="GENERATOR" content="Livescript.in Merchant Pages">
   </head>
   <body>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript">
           $(document).ready(function () {
              $('#user-submit').click(function () {
                 var payload = $('#form1').serializeArray();                 
                  alert('Are you sure to submit');
                 });
              });
      </script>
      
      <h1>Merchant Page</h1>
      <form id="form1" method="post" action="/testtxn">
         <table border="1">
            <tbody>
               <tr>
                  <th>S.No</th>
                  <th>Label</th>
                  <th>Value</th>
               </tr>
               <tr>
                  <td>1</td>
                  <td><label>ORDER_ID::*</label></td>
                  <td><input id="ORDER_ID" tabindex="1" maxlength="20" size="20" name="ORDER_ID" autocomplete="off" value="ODR012">
                  </td>
               </tr>
               <tr>
                  <td>2</td>
                  <td><label>CUSTID ::*</label></td>
                  <td><input id="CUST_ID" tabindex="2" maxlength="12" size="12" name="CUST_ID" autocomplete="off" value="CUST012"></td>
               </tr>
               <tr>
                  <td>3</td>
                  <td><label>INDUSTRY_TYPE_ID ::*</label></td>
                  <td><input id="INDUSTRY_TYPE_ID" tabindex="4" maxlength="12" size="12" name="INDUSTRY_TYPE_ID" autocomplete="off" value='<%= config.INDUSTRY_TYPE_ID %>'></td>
               </tr>
               <tr>
                  <td>4</td>
                  <td><label>CHANNEL ID ::*</label></td>
                  <td><input id="CHANNEL_ID" tabindex="4" maxlength="12" size="12" name="CHANNEL_ID" autocomplete="off" value='<%= config.CHANNEL_ID %>'>
                  </td>
               </tr>
               <tr>
                  <td>5</td>
                  <td><label>TRANSACTION AMOUNT*</label></td>
                  <td><input title="TXN_AMOUNT" tabindex="10" type="text" name="TXN_AMOUNT" value="1.00">
                  </td>
               </tr>
               <tr>
                  <td>6</td>
                  <td><label>MERCHANT ID</label></td>
                  <td><input title="MID" tabindex="10" type="text" name="MID" value='<%= config.MID %>'>
                  </td>
               </tr>
               <tr>
                  <td>7</td>
                  <td><label>WEBSITE</label></td>
                  <td><input title="WEBSITE" tabindex="10" type="text" name="WEBSITE" value='<%= config.WEBSITE %>'></td>
               </tr>
               <tr>
                  <td>8</td>
                  <td><label>MERCHANT_KEY</label></td>
                  <td><input title="WEBSITE" tabindex="10" type="text" name="PAYTM_MERCHANT_KEY" value='<%= config.PAYTM_MERCHANT_KEY %>'></td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
                  <td><input value="CheckOut" type="submit" id ="user-submit" ></td>
               </tr>
            </tbody>
         </table>
         * - Mandatory Fields
      </form>
   </body>
</html>